.cv {

  h2,
  p,
  h4 {
    margin: 0;
  }

  .cv__image {
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    max-width: 600px;

    &--left {
      float: left;
      margin: 0 100px;
    }

    &--right {
      float: right;
      margin: 0 100px;
    }
  }
}

.year {
  overflow: hidden;
  padding: 100px 0;

  .year-title {
    font-family: $avenir-black;
    font-size: 11.5rem;
    color: #e7eaef;
    margin-bottom: 30px;
    position: relative;
  }

  &--right {

    h2,
    p,
    h4 {
      margin-left: 100px;
    }

    .year-title {
      left: -50px;
    }
  }

  &--left {

    h2,
    p,
    h4 {
      margin-right: 100px;
    }

    .year-title {
      left: -50px;
    }
  }
}
