.cv__body {

  h2,
  p,
  h4 {
    margin: 0;
  }

  h4 {
    @include font-size(2.0);
    font-family: $avenir-medium;
    color: #888;
    font-weight: normal;
  }

  .cv__image {
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    max-width: 600px;

    &--left {
      float: left;
      margin-right: 100px;
    }

    &--right {
      float: right;
      margin-left: 100px;
    }
  }
}

.cv__body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.year__inner {
  overflow: hidden;
}

.year {
  @include clearfix();
  padding: 100px 0;

  .year-title {
    font-family: $avenir-black;
    @include font-size(11.5, 1);
    color: #e7eaef;
    margin-bottom: 40px;
    position: relative;
    top: -10px;
  }

  &--right {

    .year-title {
      left: -50px;
    }
  }

  &--left {


    .year-title {
      left: -50px;
    }
  }
}

.cv__links {
  text-align: center;
  border-top: 1px solid $grey-pink;
  padding: 50px 0 0;

  a {
    @include underline-from-center-button($light-grey, 1px);
    @extend h2;
    text-decoration: none;
    color: $text;
  }
}
