.case {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  /* top: 50%; */
  height: 500px;
  float: right;
  background: red;
  left: 0px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
