.cases__wrapper {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  height: 500px;
  float: right;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -250px;
}

.cases__wrapper__article {
  height: 100%;
}

.cases {
  background: linear-gradient(135deg, #fff, 80%, #f6fcff);
  height: 100vh;
  width: 100%;
  z-index: 0;
}

// SVG specific code
#ess,
#og,
#booking {
  visibility: hidden;
  transform: scale(.3);
  transform-origin: 50% center;
  transition: 1.5s ease-in-out;
  opacity: 0;

  &.active {
    visibility: visible;
    transform: scale(1);
    z-index: 1;
    opacity: 1;
  }
}

// Give the letter wrapper gooey effect
.letter-wrapper {
  filter: url('#goo');
  overflow: hidden;
}

// Mouse blob
.letter-wrapper__blob {
  background-color: $black;
  background-image: url('/orkester.jpg');
  width: 150px;
  position: absolute;
  display: block;
  height: 150px;
  border-radius: 100%;
  opacity: .4;
  z-index: -1;
}

.letter-wrapper__effect {
  display: none;
}

.backgrounds {
  display: none;
}

.layer-index {
  z-index: 5;
}
