.cases__menu {
  position: fixed;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.btn-up,
.btn-down {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
  float: left;
  clear: both;
}

.btn-up {
  @include svg-bg(up);
  margin: 0 0 10px;
  outline: 0;
}

.btn-down {
  @include svg-bg(up);
  transform: rotate(180deg);
  outline: 0;
}
