.cases__menu {
  position: fixed;
  right: 75px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  @media screen and (max-width: $breakpoint-small) {
    display: none;
  }
}

.btn-up {
  @include svg-bg(up);
  margin: 0 0 10px;
  outline: 0;
}

.btn-down {
  @include svg-bg(up);
  transform: rotate(180deg);
  outline: 0;
}
