.cases__wrapper {
  transform: scale(1) !important;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  height: 500px;
  float: right;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -250px;
  overflow: visible !important;

  @media screen and (min-width: 1200px) and (min-height: 880px) {
    transform: scale(1.2) !important;
  }

  @media screen and (min-width: 1500px) and (min-height: 880px) {
    transform: scale(1.4) !important;
  }
}

.cases__wrapper__article {
  height: 100%;
  padding-left: 120px;
  top: 0 !important;
}

.cases {
  background: linear-gradient(135deg, $white, 80%, #f6fcff);
  height: 100vh;
  width: 100%;
  z-index: 0;
}

// SVG specific code
#ess,
#og,
#booking {
  visibility: hidden;
  transform: scale(.3);
  transform-origin: 50% center;
  transition: 1.5s ease-in-out;
  opacity: 0;

  .slow-down & {
    transition: 1.5s .6s ease-in-out;
  }

  &.active {
    visibility: visible;
    transform: scale(1);
    z-index: 1;
    opacity: 1;
  }
}

// Give the letter wrapper gooey effect
.letter-wrapper {
  filter: url('#goo');
  overflow: hidden;
}

.letter-wrapper__effect {
  display: none;
}

.backgrounds {
  display: none;
}

.layer-index {
  z-index: 5;
}
