.cases__wrapper__article__top-left {
  @include font-size(4.4, 1.5);
  text-align: left;
  color: #e7eaef;
  letter-spacing: 10px;
  margin: 0;
  float: left;
  margin-left: -100px;
  position: absolute;
  left: -200px;
  text-align: left;
  top: 0;

  @media screen and(max-width: $breakpoint-medium-small) {
    margin-left: -50px;
    left: -160px;
    @include font-size(3.8, 1.5);
  }

  @media screen and (max-width: $breakpoint-small) {
    top: 20%;
    left: -40px;
    @include font-size(2.8, 1.3);
  }

  &.active-fade {
    animation: fade 1s;
  }

  &.slow-down {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.cases__wrapper__article__bottom-right {
  @include font-size(4.4, 1.5);
  text-align: left;
  color: #e7eaef;
  letter-spacing: 10px;
  margin: 0;
  float: left;
  margin-left: -100px;
  position: absolute;
  right: -200px;
  text-align: right;
  bottom: 0;

  @media screen and(max-width: $breakpoint-medium-small) {
    margin-left: -50px;
    right: -110px;
    @include font-size(3.8, 1.5);
  }

  @media screen and (max-width: $breakpoint-small) {
    bottom: 20%;
    @include font-size(2.8, 1.3);
  }

  &.active-fade {
    animation: fade 1s;
  }

  &.slow-down {
    display: none;
  }
}

.cases__client {
  @include font-size(2.4, 1);
  position: absolute;
  bottom: -60px;
  margin: 0;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 3px;
  color: #2a283a;

  @media screen and(max-width: $breakpoint-small) {
    bottom: 80px;
  }

  &::after {
    content: '';
    display: block;
    width: 80px;
    background: linear-gradient(135deg, $pinkred, $pink);
    height: 5px;
    margin: 20px auto 0;
  }
}
