.menu {
  position: fixed;
  left: 0px;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  color: $white;
  visibility: hidden;
  transition: opacity .6s;
  background: linear-gradient(230deg, #ff85b5, #fdf28e, #86c5fc, #e8c3fd, #9abdeb, #80f9b7);
  background-size: 1000% 1000%;
  opacity: 0;

  -webkit-animation: backgroundColor 100s ease infinite;
  -moz-animation: backgroundColor 100s ease infinite;
  animation: backgroundColor 100s ease infinite;

  @-webkit-keyframes backgroundColor {
    0%{background-position:0% 100%}
    50%{background-position:100% 100%}
    100%{background-position:0% 100%}
  }
  @-moz-keyframes backgroundColor {
    0%{background-position:0% 100%}
    50%{background-position:100% 100%}
    100%{background-position:0% 100%}
  }
  @keyframes backgroundColor {
    0%{background-position:0% 100%}
    50%{background-position:100% 100%}
    100%{background-position:0% 100%}
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.menu__nav {
  position: absolute;
  left: 50px;
  bottom: 50px;

  @media screen and (max-width: $breakpoint-small) {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  li {
    list-style: none;
    margin: 0 0 50px;
  }

  h2 {
    font-size: 5.4rem;
    line-height: 5.4rem;
    margin: 0;
    font-weight: bold;
    font-family: $avenir-black;
  }

  h4 {
    margin: 0 0 20px;
    display: block;
    position: absolute;
    width: 300px;
  }

  a {
    color: $white;
    position: relative;
    display: inline-block;

    &::after {
      width: 100%;
      position: absolute;
      height: 3px;
      background: $white;
      display: inline-block;
      left: 0;
      content: '';
      top: 28px;
      border-radius: 10px;
      width: 0;
      transition: width .5s;

      @media screen and (min-width: 1700px) {
        top: 48px;
      }
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }
}
