.big-btn {
  background: linear-gradient(135deg, $pink, $pinkred);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  margin: 0 auto;
  height: 100px;
  bottom: -50px;
  border-radius: 100px;
  outline: 0;
  transition: transform .3s;
  z-index: 10;

  @media screen and (max-width: $breakpoint-medium-small) {
    width: 400px;
  }

  &--up {
    top: -50px;

    svg {
      display: block;
      margin: 20px auto;
      animation: float-reverse 2s infinite ease-in-out;
      height: 100px;
    }
  }

  &--down {

    svg {
      display: block;
      margin: -20px auto;
      animation: float 2s infinite ease-in-out;
      height: 100px;
    }
  }


  &:hover {
    transform: scale(1.1);

    .touchevents & {

    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes float-reverse {
  0% {
    transform: translateY(0) rotate(180deg);
  }

  50% {
    transform: translateY(5px) rotate(180deg);
  }

  100% {
    transform: translateY(0) rotate(180deg);
  }
}
