.btn-round {
  float: left;
  clear: both;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid $pink;
  background-color: transparent;
  margin: 0 0 10px;
  transition: .3s;
  outline: 0;
  display: block;
  padding: 0;

  &.active,
  &:hover {
    background: linear-gradient(135deg, $pinkred, $pink);
  }
}
