.menu-btn {
  height: 90px;
  width: 90px;
  background: transparent;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 10;
  padding: 2px 0 0 23px;
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 8px;
  color: $white;
  text-align: justify;
  line-height: 30px;
  transition: background .2s;
  outline: 0;
  cursor: pointer;

  &.active {
    display: block;
  }

  &.none {
    display: none;
  }

  &--hide {
    display: none;
    padding: 2px 0 0 25px;
  }

  span {
    display: block;
  }

  .color-change & {

    &::before {
      background-image: linear-gradient(to right, $pink 0%, $pinkred 100%), linear-gradient(to left, $pink 0%, $pinkred 100%);
    }

    &::after {
      background-image: linear-gradient(to bottom, $pink 0%, $pinkred 100%), linear-gradient(to top, $pink 0%, $pinkred 100%);
    }

    span {
      background: linear-gradient(135deg, $pink, $pinkred);
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &::before {
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-image: linear-gradient(to bottom, $white 0%, $white 100%), linear-gradient(to top, $white 0%, $white 100%);
  }

  &::after {
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 5px 100%;
    background-image: linear-gradient(to bottom, $white 0%, $white 100%), linear-gradient(to top, $white 0%, $white 100%);
  }

  &:hover {
    background: $white-opac;

    .color-change & {
      background: transparent;
    }
  }

  .kern {
    display: inline;
    padding-left: 4px;
  }
}


.menu-btn--hide {

  &::before {
    background-image: linear-gradient(to right, $pink 0%, $pinkred 100%), linear-gradient(to left, $pink 0%, $pinkred 100%);
  }

  &::after {
    background-image: linear-gradient(to bottom, $pink 0%, $pinkred 100%), linear-gradient(to top, $pink 0%, $pinkred 100%);
  }

  span {
    background: linear-gradient(135deg, $pink, $pinkred);
    background-clip: text;
    text-fill-color: transparent;
  }
}
