.mute-btn {
  z-index: 12;
  position: absolute;
  bottom: 25px;
  left: 50px;
  background: transparent;
  outline: 0;
  transition: transform .1s;

  @media screen and (max-width: $breakpoint-small) {
    display: none;
  }

  .touchevents & {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.95);

    .stroke {
      fill: transparent;
    }
  }

  &.active {

    .stroke {
      fill: transparent;
    }
  }
}
