.case {
  width: 100%;
  height: 100vh;
  position: relative;
}

.case__wrapper {
  background: linear-gradient(135deg, $white, 80%, $case-grey);
  margin-bottom: 550px;
  z-index: 3;
  position: relative;
  box-shadow: 0 0 50px $black-three;
  padding-bottom: 50px;

  @media screen and (max-width: $breakpoint-small) {
    margin-bottom: 350px;
  }
}
