.case__body {
  color: $text;
  padding: 0 25px;

  p,
  h2 {
    margin: 0 auto;
    max-width: 760px;
  }

  h2 {
    text-align: center;
    margin: 0 auto 50px;

    &::after {
      content: '';
      height: 5px;
      background: linear-gradient(135deg, $pink, $pinkred);
      display: block;
      margin: 15px auto 0;
      width: 80px;
    }
  }

  p {
    text-align: justify;
    margin: 0 auto 50px;
  }

  img {
    margin: 100px auto 200px;
    display: block;
    max-width: 1100px;

    @media screen and (max-width: 960px) {
      margin: 50px auto 100px;
    }
  }

  .case__vis {
    max-width: 648px;
  }

  .case__big {
    max-width: 1300px;
  }

  .case__flow {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 200px;

      @media screen and (max-width: 960px) {
        margin-bottom: 100px;
      }
    }
  }

  .big-pic {
    margin-left: -650px;

    img {
      margin-bottom: 0;
      max-width: none;
      width: auto;
    }
  }

  .last-pic {
    max-width: 800px;
  }
}

.case__header {
  position: relative;
  height: 100vh;

  h1 {
    background: transparent;
    font-size: 8.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 10000;
    letter-spacing: 5px;
    left: 50%;
    outline: 0;
    background: linear-gradient(135deg, $pink, $pinkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: center;
    line-height: 110px;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    text-transform: capitalize;

    @media screen and (max-width: 960px) {
      font-size: 7rem;
      line-height: 7rem;
    }
  }
}
