.cv__body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;

  h2,
  p,
  h4 {
    margin: 0;
  }

  h4 {
    @include font-size(2);
    font-family: $avenir-medium;
    color: $grey;
    font-weight: normal;
  }

  .cv__image {
    box-shadow: 0 0 30px $black-three;
    max-width: 600px;
    width: 100%;

    &--left {
      float: left;
      margin-right: 100px;
    }

    &--right {
      float: right;
      margin-left: 100px;
    }
  }
}

.year__inner {
  overflow: hidden;
}

.year {
  @include clearfix();
  padding: 100px 0;

  &--right {

    .year-title {
      left: -50px;
    }
  }

  &--left {

    .year-title {
      left: -50px;
    }
  }

  .year-title {
    @include font-size(11.5, 1);
    font-family: $avenir-black;
    color: $lighter-grey;
    margin-bottom: 40px;
    position: relative;
    top: -10px;
  }
}

.cv__links {
  text-align: center;
  border-top: 1px solid $grey-pink;
  padding: 50px 0 0;

  a {
    @extend h2;
    @include underline-from-center-button($light-grey, 1px);
    text-decoration: none;
    color: $text;
    display: inline-block;
    margin: 0 30px;
  }
}

.cv-bg {
  width: 650px;
  margin-left: -90px;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  img {
    max-width: 100%;
    margin-bottom: -40px;
  }
}

.cv__rectangle {
  height: 45px;
  width: 230px;
  background: linear-gradient(135deg, $pink, $pinkred);
  display: block;
  position: absolute;
  top: 120px;
  left: 50px;
}
