.cv__body {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;

  p,
  h4 {
    margin: 0;
  }

  h2 {
    margin: 0 0 10px;
  }

  h4 {
    @include font-size(2);
    font-family: $avenir-medium;
    color: $grey;
    font-weight: normal;

    @media only screen and(max-width: $breakpoint-small) {
      @include font-size(1.6);
    }
  }

  .cv__image {
    box-shadow: 0 0 30px $black-three;
    max-width: 600px;
    width: 100%;

    @media screen and (max-width: 1200px) {
      max-width: 450px;
    }

    @media screen and(max-width: $breakpoint-medium-small) {
      max-width: 300px;
    }

    @media only screen and(max-width: $breakpoint-small) {
      clear: both;
      float: none;
      display: block;
      margin: 0 auto 20px;
      box-shadow: 0 0 15px $black-three;
    }

    &--left {
      float: left;
      margin-right: 100px;

      @media screen and(max-width: 1200px) {
        margin-right: 50px;
      }

      @media only screen and(max-width: $breakpoint-small) {
        float: none;
        margin-right: auto;
      }
    }

    &--right {
      float: right;
      margin-left: 100px;

      @media screen and(max-width: 1200px) {
        margin-left: 50px;
      }

      @media only screen and(max-width: $breakpoint-small) {
        float: none;
        margin-left: auto;
      }
    }
  }
}

.year__inner {
  overflow: hidden;
}

.year {
  @include clearfix();
  padding: 100px 0;

  @media only screen and(max-width: $breakpoint-small) {
    padding: 25px 0;
  }

  &--right {

    .year-title {
      left: -50px;

      @media screen and (max-width: 1200px) {
        left: 0;
      }
    }
  }

  &--left {

    .year-title {
      left: -50px;

      @media screen and (max-width: 1200px) {
        left: 0;
      }
    }
  }

  .year-title {
    @include font-size(11.5, 1);
    font-family: $avenir-black;
    color: $lighter-grey;
    margin-bottom: 40px;
    position: relative;
    top: -10px;

    @media screen and(max-width: $breakpoint-medium-small) {
      @include font-size(8, 1);
      margin: 0 0 20px;
    }

    @media only screen and(max-width: $breakpoint-small) {
      @include font-size(5, 1);
      display: block;
      top: 0;
      margin-bottom: 10px;
    }
  }
}

.cv__links {
  text-align: center;
  border-top: 1px solid $grey-pink;
  padding: 50px 0 0;

  a {
    @extend %h2;
    @include underline-from-center-button($light-grey, 1px);
    text-decoration: none;
    color: $text;
    display: inline-block;
    margin: 0 30px;
  }
}

.cv-bg {
  width: 650px;
  margin-left: -90px;
  overflow: hidden;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  @media screen and (max-width: $breakpoint-small) {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 380px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    margin-bottom: -40px;
  }
}

.cv__rectangle {
  height: 45px;
  width: 230px;
  background: linear-gradient(135deg, $pink, $pinkred);
  display: block;
  position: absolute;
  top: 120px;
  left: 50px;

  @media screen and (max-width: $breakpoint-small) {
    height: 25px;
    width: 160px;
    top: 95px;
    left: 80px;
    transform: translateY(-50%);
  }
}
